<div flex class="sidebar-item" ng-if="ctrl.removedReactions.length > 0">
    <span class="md-headline">Knockout simulation</span>
    <div class="sidebar-content" flex>
        <div layout="column" class="sidebar-cell">
            <h3 class="md-no-sticky">Results</h3>
            <span flex>Growth rate: {{ctrl.growthRate}}</span>
        </div>
        <div layout="column" ng-if="ctrl.removedReactions" class="sidebar-cell">
            <h3 class="md-no-sticky">Removed reactions</h3>

            <div class="md-chips">
                <md-chip ng-repeat="reaction in ctrl.removedReactions">
                    <div aria-hidden="true" class="md-chip-content" role="button" tabindex="-1">
                        <span>{{reaction}}</span>
                    </div>
                    <div class="md-chip-remove-content">
                        <button aria-hidden="Undo Knockout"
                                tabindex="-1"
                                type="button"
                                class="md-chip-remove"
                                ng-click="ctrl.onReactionRemoveClick(reaction)">
							<md-icon md-font-icon="close">close</md-icon>
                        </button>
                    </div>
                </md-chip>
            </div>
        </div>
    </div>
</div>
