<div layout="column" layout-fill layout-padding flex>
    <div flex class="sidebar">
        <div flex class="sidebar-item">
            <span class="md-headline">Map options</span>
            <div class="sidebar-content" flex>
                <form name="loadData" ng-submit="ctrl.onLoadDataSubmit($event)" novalidate layout="column">
                    <md-input-container>
                        <label>Experiment</label>
                        <md-select name="experiment" ng-model="ctrl.selected.experiment" required>
                            <md-option ng-repeat="experiment in ctrl.experiments" value="{{experiment.id}}">{{experiment.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label>Strains</label>
                        <md-select name="map" ng-model="ctrl.selected.strain" required>
                            <md-option ng-repeat="strain in ctrl.strains" value="{{strain.id}}">{{strain.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label>Models</label>
                        <md-select name="model" ng-model="ctrl.loadData.model" required disabled>
                            <md-option value="ecoli_core">iJO1366</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <md-button type="submit" class="md-raised md-accent" ng-disabled="!ctrl.selected.strain">Load map</md-button>
                        <md-button type="button" class="md-raised md-accent" ng-click="ctrl.onLoadFluxClick($event)" ng-disabled="!ctrl.shared.map.map">
                            Load reaction data
                        </md-button>
                    </md-input-container>
                </form>
            </div>
        </div>
    </div>
</div>
