<div layout="column" layout-fill layout-padding flex>
    <div>
        <span class="md-headline">Pathway map</span>
    </div>
    <div flex>

        <md-whiteframe class="map-context-menu md-whiteframe-8dp" layout="column" layout-align="center center">
			<md-menu-content class="context-menu">
				<md-menu-item ng-repeat="action in ctrl.contextActions">
					<md-button ng-click="ctrl.processActionClick(action, ctrl.contextElement)">{{action.label}}</md-button>
				</md-menu-item>
			</md-menu-content>
        </md-whiteframe>

        <div class="map-container" layout-fill layout="column" layout-align="center center">
            <span>Please load the map.</span>
        </div>
        <md-progress-linear md-mode="indeterminate" ng-if="ctrl.shared.loading > 0"></md-progress-linear>
    </div>
</div>
