// Import pathway map styling
@import 'escher_builder.scss';

pv-map {
    .map-container {
        border: 1px solid grey;
		height: 85vh;
    }

    .map-context-menu {
        background-color: #FFFFFF;
        z-index: 199;
        visibility: hidden;
        width: 200px;
    }

    .ko-sign {
        color: red;
        font-size: 40px;
    }
}

.context-menu{
	width: 100%
}


