// Import pathway map styling
@import 'escher_builder.scss';

pv-map {
    .map-container {
        border: 1px solid grey;
    }

    .map-context-menu {
        background-color: #FFFFFF;
        z-index: 199;
        display: none;
        min-width: 200px;
    }

    .ko-sign {
        color: red;
        font-size: 40px;
    }
}

